body {
    margin: 0;
    padding: 0;
    background-image: url("/imagens/4072880.jpg");
    position: relative;
    background-size: 300vh 300vh;
    background-repeat: no-repeat;
    

}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* cabecalho */
.cabecalho {
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(57, 139, 187, 0.95);
    box-shadow: 0px 0px 10px 0px #000000;
    font-size: 10px;
    gap: 50px;
    padding: 10px;
}

/* cabecalho */
.orientandoElementos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.card {
    background-color: rgba(57, 139, 187, 0.95);
    border: solid rgb(37, 37, 37) 4px;
    border-radius: 25px;
    box-shadow: 0px 3px 5px 0px #000000;
    border-radius: 25px;
    padding: 20px;
    margin-top: 100px;
   /*  margin: 100px 20px 200px 20px; */
}

#tabelaCalculadora_wrapper {
    font-family: 'Roboto Slab', serif !important;
    border: solid rgb(37, 37, 37) 1px;
}


table#tabelaCalculadora.display.dataTable.no-footer {
   
    width: 680px !important;
  
}


#tabelaCalculadora_wrapper tbody {
    background-color: rgb(36, 134, 44, 0.80) !important;
}

#tabelaCalculadora_wrapper tbody tr td {
    border: solid rgb(37, 37, 37) 1px !important;
    font-weight: bold !important;
    font-size: 20px !important;
}

#tabelaCalculadora_wrapper tbody tr:hover {
    background-color: rgba(57, 139, 187, 0.95) !important;
}



div#tabelaCalculadora_wrapper .fg-toolbar.ui-toolbar.ui-widget-header.ui-helper-clearfix.ui-corner-tl.ui-corner-tr {
    font-family: 'Lobster', cursive !important;
    font-size: 20px !important;
    background-color: rgba(255, 255, 255, 0.6) !important;
    color: #000000 !important;
    border: solid rgb(37, 37, 37) 1px !important;

}

.fg-toolbar.ui-toolbar.ui-widget-header.ui-helper-clearfix.ui-corner-bl.ui-corner-br .dataTables_scroll {
    font-family: 'Lobster', cursive !important;
    font-size: 20px !important;
    background-color: rgba(255, 255, 255, 0.6) !important;
    color: #000000 !important;
    border: solid rgb(37, 37, 37) 1px !important;

}




table#tabelaCalculadora thead tr th {
 
    background-color: rgb(36, 134, 44, 0.80) !important;
    color: #000000 !important;
    font-weight: normal !important;
    font-family: 'Lobster', cursive !important;
    font-size: 20px !important;
    border: solid rgb(37, 37, 37) 1px !important;
}

/* caculadora */
.calculadora {
    background-color: rgba(57, 139, 187, 0.95);
    border: solid rgb(37, 37, 37) 4px;
    border-radius: 25px;
    box-shadow: 0px 3px 5px 0px #000000;
    font-family: 'Roboto Slab', serif;
    color: #000000;
    font-weight: bolder;
    width: 400px;
    height: 500px;
    padding: 10px;
    margin: 100px 20px 200px 20px;
}

.ordernador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 0px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    height: 400px;
}

.divisor {
    width: 90%;
    /*  margin: 10px 0px 20px 0px; */

}

.divisor2 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 0px 8px 0px 0px;
}



.texto_resultado {
    width: 390px;
    height: 70px;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid rgb(37, 37, 37) 2px;
    box-shadow: 0px 3px 5px 0px #000000;
    border-radius: 10px;
    background-color: rgb(36, 134, 44, 0.80);
    color: #000000;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

.texto_calculo {
    border: none;
    outline: none;
    position: absolute;
    text-align: center;
    margin: 0px 5px 5px 109px;
    border-radius: 0px 0px 5px 5px;
    border: solid rgb(37, 37, 37) 2px;
    padding: 1px;
    font-size: 15px;
    color: #000000;
    background: #ffffff;
}

.botao_calculadora {
    width: 65px;
    border-radius: 5px;
    border: none;
    background: #ff8800;
    box-shadow: 0px 3px 5px 0px #000000;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}


.botao_calculadora:hover {
    background: rgba(57, 139, 187, 0.95);
    color: white;
    transition: all .35s;
    animation: moverbotaocalculadora 1s ease-in-out;
    animation-delay: 1ms;
}


.botao_calculadora:active {
    transform: scale(0.75);
}


#botao_calculadora_limpar_historico {
    width: 65px;
    border-radius: 5px;
    border: none;
    background: rgba(57, 139, 187, 0.95);
    box-shadow: 0px 3px 5px 0px #000000;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}


#botao_calculadora_limpar_historico:hover {
    background: rgba(235, 39, 39, 0.95);
    color: white;
    transition: all .35s;
    animation: moverbotaocalculadora 1s ease-in-out;
    animation-delay: 1ms;
}


#botao_calculadora_limpar_historico:active {
    transform: scale(0.75);
}


#botao_calculadora_limpar_campo {
    width: 65px;
    border-radius: 5px;
    border: none;
    background: rgba(57, 139, 187, 0.95);
    box-shadow: 0px 3px 5px 0px #000000;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}


#botao_calculadora_limpar_campo:hover {
    background: rgba(39, 101, 235, 0.95);
    color: white;
    transition: all .35s;
    animation: moverbotaocalculadora 1s ease-in-out;
    animation-delay: 1ms;
}


#botao_calculadora_limpar_campo:active {
    transform: scale(0.75);
}



#botao_calculadora_adicao {
    width: 65px;
    border-radius: 5px;
    border: none;
    background: rgba(57, 139, 187, 0.95);
    box-shadow: 0px 3px 5px 0px #000000;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    transition: all .35s;
}


#botao_calculadora_adicao:hover {
    background: rgba(8, 241, 0, 0.95);
    color: white;
    animation: moverbotaocalculadora 1s ease-in-out;
    animation-delay: 1ms;

}

#botao_calculadora_adicao:active {
    transform: scale(0.75);

}

#botao_calculadora_resultado {
    width: 155px;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 3px 5px 0px #000000;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    transition: all .35s;
}


#botao_calculadora_resultado:hover {
    background: rgb(36, 134, 44, 0.80);
    color: white;
    animation: moverbotaocalculadora 1s ease-in-out;
    animation-delay: 1ms;

}

#botao_calculadora_resultado:active {
    transform: scale(0.75);

}


#botao_calculadora_virgula {
    width: 155px;
    border-radius: 5px;
    border: none;
    background: #ff8800;
    box-shadow: 0px 3px 5px 0px #000000;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    transition: all .35s;
}


#botao_calculadora_virgula:hover {
    background: rgba(57, 139, 187, 0.95);
    color: white;
    animation: moverbotaocalculadora 1s ease-in-out;
    animation-delay: 1ms;

}

#botao_calculadora_virgula:active {
    transform: scale(0.75);

}


#botao_calculadora_ponto {
    width: 155px;
    border-radius: 5px;
    border: none;
    background: #ff8800;
    box-shadow: 0px 3px 5px 0px #000000;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    transition: all .35s;
}


#botao_calculadora_ponto:hover {
    background: rgba(57, 139, 187, 0.95);
    color: white;
    animation: moverbotaocalculadora 1s ease-in-out;
    animation-delay: 1ms;

}

#botao_calculadora_ponto:active {
    transform: scale(0.75);

}

#botao_calculadora_subtracao {
    width: 65px;
    border-radius: 5px;
    border: none;
    background: rgba(57, 139, 187, 0.95);
    box-shadow: 0px 3px 5px 0px #000000;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}

#botao_calculadora_subtracao:hover {
    background: rgba(241, 0, 0, 0.949);
    color: white;
    animation: moverbotaocalculadora 1s ease-in-out;
    animation-delay: 1ms;

}


#botao_calculadora_multiplicacao {
    width: 65px;
    border-radius: 5px;
    border: none;
    background: rgba(57, 139, 187, 0.95);
    box-shadow: 0px 3px 5px 0px #000000;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}

#botao_calculadora_multiplicacao:hover {
    background: #ffee00f2;
    color: white;
    animation: moverbotaocalculadora 1s ease-in-out;
    animation-delay: 1ms;

}


#botao_calculadora_divisao {
    width: 65px;
    border-radius: 5px;
    border: none;
    background: rgba(57, 139, 187, 0.95);
    box-shadow: 0px 3px 5px 0px #000000;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}

#botao_calculadora_divisao:hover {
    background: #00f7fff2;
    color: white;
    animation: moverbotaocalculadora 1s ease-in-out;
    animation-delay: 1ms;

}


@keyframes moverbotaocalculadora {
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateX(0px);
    }

}

/* caculadora */

/* rodape */
.rodape {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(57, 139, 187, 0.95);
    box-shadow: 0px 0px 10px 0px #000000;
    margin-top: 200px;
    gap: 50px;
    font-size: 10px;
    padding: 10px;
}

/* rodape */





@media screen and (max-width: 1303px) {

    .orientandoElementos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .calculadora {
        margin: 100px 20px 50px 20px;
    }

    .card {
        width: 300px;
        margin: 0px 20px 0px 20px;
    }

}
@media  screen and (max-width: 1290px) {

    table#tabelaCalculadora.display.dataTable.no-footer {
   
        width: 100% !important;
      
    }

    .card {
        width: 900px;
        margin: 0px 20px 0px 20px;
    }
    

}

@media  screen and (max-width: 1200px) {

    table#tabelaCalculadora.display.dataTable.no-footer {
   
        width: 100% !important;
      
    }

    .card {
        width: 900px;
        margin: 0px 20px 0px 20px;
    }
    

}

@media  screen and (max-width: 1100px) {
    table#tabelaCalculadora.display.dataTable.no-footer {
   
        width: 100% !important;
      
    }
    .card {
        width: 800px;
        margin: 0px 20px 0px 20px;
    }

}

@media  screen and (max-width: 1000px) {
    table#tabelaCalculadora.display.dataTable.no-footer {
   
        width: 100% !important;
      
    }
    .card {
        width: 700px;
        margin: 0px 20px 0px 20px;
    }

}


@media  screen and (max-width: 900px) {
    .card {
        width: 600px;
        margin: 0px 20px 0px 20px;
    }

}

@media  screen and (max-width: 800px) {
    .card {
        width: 500px;
        margin: 0px 20px 0px 20px;
    }

}

@media  screen and (max-width: 700px) {
    .card {
        width: 350px;
        margin: 0px 20px 0px 20px;
    }

}

@media  screen and (max-width: 600px) {
    .card {
        width: 300px;
        margin: 0px 20px 0px 20px;
    }

}