body {
    margin: 0;
    padding: 0;
    background-image: url("/imagens/4072880.jpg");
    background-size: 100% 200vh;
    background-repeat: no-repeat;

}

/* cabecalho */
.cabecalho {
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(57, 139, 187, 0.95);
    box-shadow: 0px 0px 10px 0px #000000;
    font-size: 10px;
    gap: 50px;
    padding: 10px;
}

/* cabecalho */

/* .card{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    box-shadow: 0px 3px 5px 0px #000000;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #000000;
    font-weight: bolder;
    font-size: 20px;
    padding: 20px;
    width: 700px;
    height: 300px;
    margin: 100px 20px 200px 20px;
} */

/* caculadora */
.calculadora {
    background-color: rgba(57, 139, 187, 0.95);
    border: solid rgb(37, 37, 37) 4px;
    border-radius: 25px;
    box-shadow: 0px 3px 5px 0px #000000;
    font-family: 'Roboto Slab', serif;
    color: #000000;
    font-weight: bolder;
    width: 400px;
    height: 500px;
    padding: 10px;
    margin: 50px 20px 200px 20px;
}

.ordernador {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
    background-color: rgba(255, 255, 255, 0.6);
    border: solid rgb(37, 37, 37) 1px;
    border-radius: 10px;
    height: 400px;
}

.divisor {
    width: 55%;
    margin: 10px 0px 20px 0px;

}

.divisor2 {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 20px 0px;
}

.texto_resultado {
    width: 390px;
    height: 60px;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid rgb(37, 37, 37) 2px;
    box-shadow: 0px 3px 5px 0px #000000;
    border-radius: 10px;
    background-color: rgb(36, 134, 44, 0.80);
    color: #000000;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

.botao_calculadora {
    width: 50px;
    border-radius: 5px;
    border: none;
    background: #ff8800;
    box-shadow: 0px 3px 5px 0px #000000;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}


.botao_calculadora:hover {
    background: rgba(57, 139, 187, 0.95);
    color: white;
    transition: all .35s;
    animation: moverbotaocalculadora 1s ease-in-out;
    animation-delay: 1ms;
}


.botao_calculadora:active {
    transform: scale(0.75);
}


#botao_calculadora_adicao {
    width: 50px;
    border-radius: 5px;
    border: none;
    background: rgba(57, 139, 187, 0.95);
    box-shadow: 0px 3px 5px 0px #000000;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    transition: all .35s;
}


#botao_calculadora_adicao:hover {
    background: rgba(8, 241, 0, 0.95);
    animation: moverbotaocalculadora 1s ease-in-out;
    animation-delay: 1ms;

}

#botao_calculadora_adicao:active {
    transform: scale(0.75);

}

.botao_calculadora_subtracao {
    width: 50px;
    border-radius: 5px;
    border: none;
    background: rgba(57, 139, 187, 0.95);
    box-shadow: 0px 3px 5px 0px #000000;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}

.botao_calculadora_subtracao:hover {
    background: rgba(241, 0, 0, 0.95);
    animation: moverbotaocalculadora 1s ease-in-out;
    animation-delay: 1ms;

}


.botao_calculadora_multiplicacao {
    width: 50px;
    border-radius: 5px;
    border: none;
    background: rgba(57, 139, 187, 0.95);
    box-shadow: 0px 3px 5px 0px #000000;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}

.botao_calculadora_multiplicacao:hover {
    background: rgba(255, 238, 0, 0.95);
    animation: moverbotaocalculadora 1s ease-in-out;
    animation-delay: 1ms;

}


.botao_calculadora_divisao {
    width: 50px;
    border-radius: 5px;
    border: none;
    background: rgba(57, 139, 187, 0.95);
    box-shadow: 0px 3px 5px 0px #000000;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}

.botao_calculadora_divisao:hover {
    background: rgba(0, 26, 255, 0.95);
    animation: moverbotaocalculadora 1s ease-in-out;
    animation-delay: 1ms;

}


@keyframes moverbotaocalculadora {
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateX(0px);
    }

}

/* caculadora */

/* rodape */
.rodape {
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(57, 139, 187, 0.95);
    box-shadow: 0px 0px 10px 0px #000000;
    margin-top: 200px;
    gap: 50px;
    font-size: 10px;
    padding: 10px;
}

/* rodape */